---

import { type CollectionEntry, getCollection } from "astro:content";
type Props = CollectionEntry<'blog'>['data'];

const {  title, pubDate, imgSrc, imgAlt, slug, description } = Astro.props;

const event = new Date(pubDate);
const time = event.toDateString();
---

<article
  class="max-w-72 min-h-80 h-auto rounded-xl p-4 min-w-60 mx-auto flex hover:shadow-xl hover:scale-105 hover:z-10 overflow-hidden transition ease-in-out delay-100"
>
  <a href={`/blog/${slug}`}>
    <img src={imgSrc} alt={imgAlt} class="h-1/2 w-full rounded-t-md" />

    <div class="mt-4">
      <h3
        class="font-bold text-sm text-pretty mb-2"
      >
        {title}
      </h3>

      <div class="h-14 overflow-hidden">
        <p class="text-sm overflow-hidden text-red-200">
          {description}
        </p>
      </div>

      <time
        datetime={time}
        class="font-thin text-xs text-gray-800 dark:text-white/70">{time}</time
      >
    </div>
  </a>
</article>
